body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; }
.clear { clear: both; }

.sidebar { width: 239px; padding: 10px; display: inline-block; }


#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

#fos_user_registration_form input, form #username, form #password{
	float:right;
}
form label{
	margin: 5px 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.profil span{
		float: none;
	}
	#fos_user_profile_form input{
		float:right;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
	.profil span{
		float: right;
	}
	#fos_user_profile_form input{
		float:right;
	}
}
/*************		MENU	*****/
@media (max-width: 992px) {
	.menu{
		float:left;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.menu{
		float:right;
	}
}
/*************		END MENU	*****/

#recherche form{
    margin-top: 12px;
}

#recherche .btn{
    padding: 2px 8px;
}
#recherche #BlogBundle_recherche_recherche{
    padding-bottom:3px;
}

.newArticle a{
	margin-top: 20px;
	float: right;
}
.article .row{
	margin:-10px;
	border: 1px solid #999;
	border-radius: 3px;
}
.dateArticle, .editArticle{
	margin-top: 10px;
	text-align: right;
}
.contenuArticle{
	margin-bottom: 10px;
}
.comment .row{
	margin:-10px;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 3px;
}
.dateComment{
	text-align: right;
}










