{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>Mon Profil</h1>
    </header>    
    <br>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-8 profil">
        		Nom de l'utilisatueur : <span>{{ app.user.username }}</span>
        		<br><br>
				Adressse mail : <span>{{app.user.email}}</span>
				<br><br>
				<a class="btn btn-info" href="{{ path ('fos_user_profile_edit')}}">Editer le profil</a>
        	</div>
    	</div>
    </div>

{% endblock %}
