{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Créer Votre Compte</h1>
    </header>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4 col-md-4 col-sm-4">
        	</div>
        	<div class="col-lg-4 col-md-4 col-sm-4">
        	</div>
        	<div class="col-lg-4 col-md-4 col-sm-4">
        	</div>
    	</div>
    </div>
    
{{ render(controller('FOSUserBundle:Registration:register')) }}

{% endblock %}