<form action="{{ path('rechercheArticle') }}" method="Post" class="navbar-form from-search pull-right">
    
   {{ form_widget(form.recherche) }} 

    <button type="submit" class="btn">Rechercher</button>
    {{ form_widget(form) }}
</form>